@import url('http://fonts.cdnfonts.com/css/product-sans');

*{margin:0px;padding:0px;}

.item1 { grid-area: header; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header header header header ';
  gap: 10px;
 
}
a{
  text-decoration: none;
  color:#5f6368;
  font-size:25px;
  padding-left: 30px;
}
.grid-container {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding:0px;
  margin:0px;
  font-size: 30px;
}
.Navbar-grid{
  display:grid;
  grid-template-columns: 20px 45px 20px 1080px 50px 50px 50px 40px 50px;
  border-bottom: 1px solid rgb(236, 236, 236);;
}
.Searchbox{
   margin: 15px;
   height:50px;
   width:700px;
   border-style: none;
   background-color: rgba(228, 229, 230, 0.979);
   background-image: url("/images/magnifyingglass.svg") ;
   background-position: 20px 17px;
   background-repeat: no-repeat;
  opacity: 0.5;
  padding-left: 34px;
  background-size: 16px 16px;
   border-radius: 10px ;
}
.mainbodysearcbar{
  height:30px;
  width:500px;
  padding-top: 3px;
border: 1px solid rgb(255, 255, 255);
border-radius: 15px;;


}
#imageinsearchbox{
background-image: url("/images/magnifyingglass.svg");
position:left;
padding-left:30px;
background-size: 20px;
background-repeat: no-repeat;
}
.grid-item1,.grid-item2,.grid-item5,.grid-item6,.grid-item7,.grid-item8,.grid-item9{  color: rgb(121, 122, 122); font-size: large;
}
.grid-item5{
  padding-left:220px;padding-top:24px;
}
.grid-item6
{
  padding-left:210px;padding-top:25px;
}
.grid-item7{
  padding-left:200px;padding-top:25px;
}
.grid-item8
{
  padding-left:240px;padding-top:25px;
}
.grid-item9{
  padding-left:240px;
  
  padding-top: 20px;;
}
.imagelogoo{ width:20px;height:20px; opacity: 0.5;}
.imagelogoo:hover{ background-color: #eeeeee;opacity: 1;}
.textOfSideNavbar
{

  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}
.grid-item1{
  padding-left: 30px;
  padding-top: 30px;
}
.sidebaranchortag
{
font-size: 14px;
padding-left: 20px;
}
.Sidebar{
width: 280px;
}
.BodySection{
  display:flex;
  margin-top: 10px;
  margin-bottom: -122px;
  /* margin-top: 10px;
 width: 250px;; */
}
.Sidenavbaricons{
 width:22px;
 height: 20px;
 padding-right: 20px;
 opacity: 0.5;
}
li{
  padding-top:13px;
  padding-bottom: 13px;
  border-radius:0px 20px 20px 0px;
}
ul li:hover{
   background-color: #ececec;
   border-radius:0px 20px 20px 0px;
   -webkit-border-radius:0px 20px 20px 0px;
   -moz-border-radius:0px 20px 20px 0px;
   -ms-border-radius:0px 20px 20px 0px;
   -o-border-radius:0px 20px 20px 0px;
}

.WebsiteLogo{
  height: 40px;
  padding: 20px 0px 5px 1px;
}

.inner{
  background-color: rgba(255, 255, 255, 0.8);
}
.SearchIcon
{
  
    width: 30px;
    height: 30px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    
}
input{
 font-size: 18px; 
}
.imagelogo
{
  width:30px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.ProductName{
color: black;
font-size: 20px;
font-family: 'Product Sans', sans-serif;
                                                
padding-top: 27px;;
  padding-left:27px

}
.NotesSection{

display:flex;
flex-wrap: wrap;
gap: 30px;
align-items: center;
justify-content: center;
}
.Notes{
  /* 
  height: 200px; */
  font-family: 'Roboto', sans-serif;
  padding:20px;
  width:270px;
  font-size: 30px;
  border:1px solid rgb(197, 197, 197);
  box-shadow: 0px 1px 1px 0px #dddddd;
  font-size: 18px;
  opacity: 0.7;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.notesimage1,.notesimage2,.notesimage3
{
padding-top: 13px;
padding-right:2px;
width:30px;
opacity:0.6;
}

.MainContent{display:flex; border:1px solid #ccc; height: 40px; border-radius: 10px;margin-top: 45px;margin-left: 350px;padding-bottom: 9px;opacity: 0.8;
  box-shadow:4px 1px 7px rgb(115, 117, 117); 
}
.notesimage1{ padding-right: 14px;}
.notesimage2{ padding-left: 15px; padding-right:10px ;}
.notesimage3{ padding-left: 15px; padding-right: 10px ; }

.notes1{height: 88px;margin-bottom: 670px;}
.notes2{ height: 150px;margin-bottom: 610px;}
.notes3{height: 88px;margin-bottom: 670px;}